.header, .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 8px 0px;
  height: 30px;
}

/* subtract header and footer height and margins */
.main {
  min-height: calc(100vh - 60px - 32px);
}
